* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Poppins", sans-serif;
    height: 740px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    overflow: hidden;
    background-color: #e7cebc;
}

.background-container {
    position: absolute;
    width: 200vh;
    height: 200vh;
    z-index: -1; 
}

.background-container img {
    position: absolute;
    opacity: 0.5; 
    pointer-events: none; 
    transition: transform 10s ease, left 10s ease, top 10s ease, bottom 10s ease, right 10s ease;
}

.quantity_container {
    display: flex;
    align-items: center;
}

.quantity_btn {
    width: 30px;
    height: 30px;
    background-color: #bc6c25;
    color: #032c01;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 28px;
}

.quantity_btn:focus {
    outline: none;
}

.quantity_btn:hover {
    background-color: #8d4920; 
}

.methods .voucher_textbox {
    width: 400px;
    padding: 5px;
    margin-right: 25px;
    margin-left: 15px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: rgba(250, 251, 250, 0.526);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
    color: #032c01;
}

.methods h4 {
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #032c01;
}

.p_quantity input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: rgba(250, 251, 250, 0.526);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
    color: #032c01;
}

.check_out {
    margin-top: 0px;
    position: relative;
    z-index: 1; 
    border-radius: 10px;
    width: 1500px; 
    height: 780px;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    overflow: auto;
    padding: 0;
}
.check_out::-webkit-scrollbar {
    display: none;
}

h2 {
    text-align: center;
    padding-top: 150px;
}

.check_out_box1 {
    width: 600px;
    height: 730px;
    background-color: rgba(246, 180, 104, 0.85);
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: rgba(236, 156, 65, 0.4) -5px 5px, rgba(236, 182, 65, 0.3) -10px 10px, rgba(236, 205, 65, 0.2) -15px 15px, rgba(236, 227, 65, 0.1) -20px 20px, rgba(216, 236, 65, 0.05) -25px 25px;
}

.check_out_box2 {
    width: 600px;
    height: 730;
    background-color: rgba(246, 180, 104, 0.85);
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: rgba(236, 156, 65, 0.4) 5px 5px, rgba(236, 182, 65, 0.3) 10px 10px, rgba(236, 205, 65, 0.2) 15px 15px, rgba(236, 227, 65, 0.1) 20px 20px, rgba(216, 236, 65, 0.05) 25px 25px;
}


.title {
    width: auto;
    display: inline-flex;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 1px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #032c01;
}
.title h4 {
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-right: 270px;
    color: #032c01;
}
.title button {
    margin-top: 10px ;
    width: 90px;
    height: 20px;
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    color: #032c01; 
}

.client_details {
    padding: 5px;
    background: rgba(250, 251, 250, 0.526);
    border-radius: 8px;
    width: 95%; 
    height: 80px;
    margin: 0 auto;
    position: relative;
    color: #032c01;
}

.products_menu{
    padding: 10px;
    padding-top: 10px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #f9f9f900;
    border-radius: 30px;
    width: 95%; 
    height: 460px;
    margin: 0 auto;
    position: relative;
    justify-content: center; 
    align-items: center;
    color: #032c01;
}
.products_menu::-webkit-scrollbar {
    display: none;
}

.product {
    padding: 10px;
    background: rgba(250, 251, 250, 0.526);
    border-radius: 10px;
    width: 96%; 
    height: auto; 
    margin: 0 auto 10px;
    display: flex;
    align-items: center; 
}

.product_details {
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
}

.products_menu .product .p_image {
    height: 110px;
    width: 110px;
    background-color: red;
    flex-shrink: 0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.methods {
    padding: 10px;
    background: rgba(250, 251, 250, 0.526);
    border-radius: 8px;
    width: 95%; 
    height: auto;
    margin: 0 auto 10px;
    color: #032c01;
    
}

.methods_delivery {
    padding: 10px;
    background: rgba(250, 251, 250, 0.526);
    border-radius: 8px;
    width: 95%; 
    height: auto;
    margin: 0 auto 15px;
    color: #032c01;
}
.methods_delivery .method_box {
    width: 95%; 
    height: 0px;
}

.method_box {
    width: 95%; 
    height: 30px;
}
.method_box label {
    margin-right: 0;
    padding: 0;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: rgb(246, 180, 104);
    color: #032c01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #032c01 solid;
    border-radius: 0.5em;
    padding: .6em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #032c01 solid;
    box-shadow: 0 0 0.8em #032c01;
}

.select:hover {
    background: rgba(250, 251, 250, 0.3);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #032c01;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(246, 180, 104);
    border: 1px #032c01 solid;
    border-radius: 0.5em;
    position: absolute;
    color: #032c01;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1000;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover {
    background: rgba(250, 251, 250, 0.3);
}

.active {
    background: rgb(246, 180, 104);
}

.menu-open {
    display: block;
    opacity: 1;
}

.price {
    display: flex; 
    align-items: center; 
    padding-bottom: 20px;
    padding-right: 15px;
}

.price h4 {
    margin-left: auto; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    color: #032c01;
}

button {
    width: 90px;
    height: 40px;
    background-color: #bc6c25; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    color: #032c01;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #8d4920; 
}

@media (max-width: 768px) {
    .check_out {
        flex-direction: column; 
        width: 100%;
    }

    .check_out_box1, .check_out_box2 {
        width: 90%;
        margin: 10px auto;
    }

    button {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 20px; 
        align-items: flex-start; 
    }

    .check_out {
        padding: 20px;
        width: 100%;
        min-height: auto; 
    }

    .price h4 {
        padding-right: 10px;
    }

    .title h4 {
        padding-right: 10px;
    }
}

#no-item-checkout-toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #ffffff; 
    color: #333333; 
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed; 
    z-index: 1; 
    right: 30px; 
    bottom: 30px; 
    border-radius: 8px;
    font-weight: 500;
}

#no-item-checkout-toast.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}